<div class = "side_box">
<div class="user"> <%= link_to current_user.name, edit_user_path(current_user) %></div>
<div class="user_chat"> 
<%= link_to "チャットを作成する", new_room_path%>
</div>
</div>
<div class="rooms">
    <% current_user.rooms.each do |room| %>
    <div class="chat_example">
        <a href="#"><%= room.name %></a>
     </div>
  <% end %>
</div>