<div class = "side_box">
<div class="user"> <a href="#">Rei</a></div><div class="user_chat"> <a href="#">チャットを作成する</a></div>
</div>
<div class="rooms">
<div class="chat_example"><a href="#">techroom1</a></div>
<div class="chat_example"><a href="#">techroom2</a></div>
</div>